.LexicalEditorTheme__paragraph {
  font-family: 'Roboto', sans-serif;
}

// .doc-tab {
//   visibility: hidden;
// }

// .btn {
//   --bg-color: rgb(53, 146, 91);
// }

// .card {
//   background: rgb(53, 146, 91);
//   color: white;
// }

// .icon {
//   color: rgb(53, 146, 91);
// }

// .cell-roles {
//   color: red;
// }

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.popup-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.popup-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-actions button:last-child {
  background-color: black;
  color: white;
}

.popup-actions button:first-child {
  background-color: gray;
  color: white;
}

/* First dashboard group: Quản lý tài khoản */
.dashboard__group:nth-child(1) .card {
  background-color: #e3f2fd; /* Light blue */
}

/* Second dashboard group: Quản lý bài viết */
.dashboard__group:nth-child(2) .card {
  background-color: #e8f5e9; /* Light green */
}

/* Third dashboard group: Zalo token */
.dashboard__group:nth-child(3) .card {
  background-color: #fff3e0; /* Light orange */
}

/* Fourth dashboard group: Quản lý chủ đề và chuyên mục */
.dashboard__group:nth-child(4) .card {
  background-color: #f3e5f5; /* Light purple */
}

.selected--draft,
.selected--published {
  width: 90px; /* adjust as needed */
  display: inline-block;
  text-align: center;
  padding: 6px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.selected--draft {
  background-color: rgb(154, 154, 147);
  color: black;
}

.selected--published {
  background-color: green;
  color: white;
}
